/* Navbar */

.navbar {
    background: #000000;
    font-family: 'Patua One', cursive;
    font-weight: 500;
    font-size: 40px;
    color: #ffffff;
}
 a {
    font-family: 'Patua One', cursive;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
 }

.navbar-brand:hover {
    color: #00D7FF;
}

.nav-link:hover {
    color: #FF00FF;
}

.active {
    color: #FF00FF;
}

.navbar-toggler{
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
}  

/* Main content for each page */

body {
    background: #ffffff;
}

h3 {
    color: #000000;
    font-family: 'Maven Pro', sans-serif;
} 

p {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    margin: 20px;
    line-height: 1.5;
}

.container-fluid {
    background: #FFFFFF;
}

/* About Me image */

.profile-img {
    padding: 2px;
    border: 3px solid #00D7FF;
    background-color: #000000;
} 


/* Portfolio cards */
.card-img-top {
    width: 338px;
    height: 220px;
    border: solid #000000;
    margin: 1px;
}

.card {
    border:solid #00D7FF;
}