/* added styling to the navbar brand link */

.navbar-brand {
    margin-left: 20px;
    padding: 10px;
    background: #545953;
}

/* Main content for each page */

body {
    background: #a8b6bf;
}

.container {
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 25px;
    background: #d9d9d9;
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
}

/* About Me image*/

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    overflow: auto;
}

/* Contact form */

.form-group {
    margin-left: 20px;
}

.form-control {
    width: 80%;
    border-radius: 0;
    border-color: #545953;
}

.btn {
    background: #545953;
    background-color: #545953;
    border-color: #545953;
    color: #fff;
    border-radius: 0;
    padding: 10px;  
}

/* Portfolio images */

.img-fluid {
    align-content: center;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

/* Footer */

footer {
    clear: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #343a40;
    padding: 5px; 
    border-top: 2px #545953;   
}

h3 {
    color: #d9d9d9;
    padding: 2px;
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}