
.navbar-brand {
    margin-left: 20px;
    padding: 10px;
    background: #545953;
}

body {
    background: #a8b6bf;
}

.container {
    margin-top: 20px;
    margin-left: 30px;
    padding-bottom: 25px;
    background: #d9d9d9;
    float: left;         
}

h1 {
    margin-left: 20px;
    margin-top: 20px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    overflow: auto;
}

.form-group {
    margin-left: 20px;
}

.form-control {
    width: 80%;
    border-radius: 0;
    border-color: #545953;
}

.btn {
    background: #545953;
    background-color: #545953;
    border-color: #545953;
    color: #fff;
    border-radius: 0;
    padding: 10px;  
}

.img-fluid {
    align-content: center;
    width: 50%;
    height: auto;
    padding: 10px;
}

footer {
    clear: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #343a40;
    padding: 10px; 
    border-top: #545953;   
}

h3 {
    color: #d9d9d9;
    text-align: center;
    font-weight: lighter;
}